<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IdentityServer</title>
  @await RenderSectionAsync("meta", false)
</head>
<body>
  <p>
    IdentityServer
    <hr />
  </p>
  @RenderBody()
</body>
</html>
