@page
@model Hj.IdentityServer.Pages.Account.Logout.LoggedOut

@section meta {
  @if (Model.View?.PostLogoutRedirectUri != null)
  {
    <meta http-equiv="refresh" content="1;url=@Model.View.PostLogoutRedirectUri">
  }
}

<p>
  You have been logged out.
</p>
